:root {
  --color-black: #000;
  --color-black-light: #262626;
  --color-blue: #3179d3;
  --color-white: #fff;
  --color-frontend: #6bd1ff;
  --color-backend: #00c86f;
  --color-mobile: #ffba05;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black-light);
  color: var(--color-white);
}

.front-end {
  background-color: var(--color-frontend);
  border-color: var(--color-frontend);
}

.back-end {
  background-color: var(--color-backend);
}

.mobile {
  background-color: var(--color-mobile);
}
