.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  background-color: var(--color-black);
  border-bottom: 3px solid var(--color-blue);
  box-shadow: 1 1px 20px 0px var(--color-blue);
  -webkit-box-shadow: 1px 1px 20px 0px var(--color-blue);
  -moz-box-shadow: 1px 1px 20px 0px var(--color-blue);
  padding: 20px;
}

.logo {
  cursor: pointer;
  width: 150px;
}

nav {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.buttonText {
  display: none;
}

@media (min-width: 768px) {
  .icon {
    display: none;
  }

  .buttonText {
    display: inline;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  nav {
    justify-content: flex-end;
  }
}
