.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 120px 0 70px 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.bannerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: brightness(0.3);
  z-index: -1;
}
.info {
  width: 80%;
  z-index: 1;
}

.thumbnail {
  width: 80%;
  z-index: 1;
}

@media (min-width: 768px) {
  .banner {
    flex-direction: row;
    gap: 50px;
  }
}
