.overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: var(--color-black-light);
  width: 50vw;
  padding: 50px 20px;
  border-radius: 15px;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  box-sizing: border-box;
  width: 100%;
  color: var(--color-white);
  background-color: transparent;
  border: 2px solid #191919;
  border-radius: 5px;
  padding: 15px 5px;
}

.select {
  background-color: var(--color-black-light);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.buttons :nth-child(n) {
  background-color: transparent;
  width: 100%;
  height: 40px;
  color: var(--color-white);
  border: 3px solid var(--color-blue);
  border-radius: 5px;
  cursor: pointer;
}

.buttons :nth-child(2) {
  border-color: var(--color-black);
}
